* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f0f0f;
  color: #f1f1f1;
}

/* HEADER */
.header {
  padding: 40px 20px;
  text-align: center;
  border-bottom: 2px solid #0a7d3b;
}

.header h1 {
  color: #0a7d3b;
  font-size: 2.5rem;
}

.header nav a {
  margin: 0 12px;
  text-decoration: none;
  color: #0a7d3b;
  font-weight: bold;
}

/* HERO */
.hero {
  padding: 100px 20px;
}

.hero-content {
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero-text h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.hero-text p {
  color: #bbb;
  font-size: 1.1rem;
}

/* FOTO PERFIL */
.profile-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 4px solid #0a7d3b;
}


/* SECCIONES */
.section {
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
}

.light {
  background: #161616;
}

.section-title {
  color: #0a7d3b;
  font-size: 2rem;
  margin-bottom: 40px;
}

/* PROYECTOS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project-card {
  border: 2px solid #0a7d3b;
  padding: 25px;
  border-radius: 10px;
}

.project-card span {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #0a7d3b;
}

/* EXPERIENCIA */
.experience-item {
  margin-bottom: 35px;
}

.exp-place {
  color: #0a7d3b;
  font-weight: bold;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  border-top: 2px solid #0a7d3b;
  margin-top: 40px;
}
