* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
  color: #111;
}

/* HEADER */
.header {
  padding: 40px 20px;
  text-align: center;
  border-bottom: 2px solid #e60000;
}

.header h1 {
  color: #e60000;
  font-size: 2.5rem;
}

.header p {
  margin: 10px 0;
  font-size: 1.1rem;
}

.header nav a {
  margin: 0 12px;
  text-decoration: none;
  color: #e60000;
  font-weight: bold;
}

/* HERO */
.hero {
  padding: 80px 20px;
  text-align: center;
}

/* FOTO PERFIL */
.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  border: 4px solid #e60000;
  margin-bottom: 25px;
}

.hero h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.1rem;
  color: #555;
}

/* SECCIONES */
.section {
  padding: 70px 20px;
  max-width: 1000px;
  margin: auto;
}

.light {
  background: #f9f9f9;
}

.section-title {
  color: #e60000;
  font-size: 2rem;
  margin-bottom: 40px;
}

/* PROYECTOS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project-card {
  border: 2px solid #e60000;
  padding: 25px;
  border-radius: 10px;
  transition: 0.3s;
}

.project-card:hover {
  background: #e60000;
  color: white;
}

.project-card span {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

/* SOBRE MI */
.about-text {
  max-width: 700px;
  line-height: 1.6;
}

/* EXPERIENCIA */
.experience-item {
  margin-bottom: 35px;
}

.exp-place {
  color: #e60000;
  font-weight: bold;
  margin: 5px 0;
}

/* CONTACTO */
.contact-text {
  margin-bottom: 15px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  border-top: 2px solid #e60000;
  margin-top: 40px;
}
